
   
 
   
 


h1{
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
  color: rgb(0, 0, 0);
text-shadow: 2px 2px 5px rgb(68, 65, 65);
text-indent: -5vw;
}


body{
background-image: url(../image/backger.png);
background-repeat: repeat-x;

}



.warning {
  background-color: rgba(206, 206, 206, 0.699);
 
  width: 17vw;
  border: 1vw solid rgb(98, 98, 98);
  padding: 2vw;
position: relative;
left: 39vw;
border-style: solid;
border-radius: 5vw;
  text-shadow: 2px 2px 5px rgb(68, 65, 65);
  font-size: 1vw;
  font-weight: 60;
  display: inline-block;




 
}



button {

 position: relative;
 left: 1vw;
 width: 8vw;


}

img{
  position: relative;
  left: 2.95vw;
  height: 5vw;
  width: 5vw;

}




