
   
 
   
 


h1{
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
  color: rgb(0, 0, 0);
text-shadow: 2px 2px 5px rgb(68, 65, 65);
text-indent: -1px;
}


body{
background-image: url(../image/backger.png);
background-repeat: repeat-x;

}



.warning {
  background-color: rgba(156, 151, 151, 0.699);
 
  width: 300px;
     border: 15px solid rgb(98, 98, 98);
     padding: 50px;

border-style: solid;
  font-size: 20px;
  font-weight: 60;
  display: inline-block;
  border-style: solid;
  border-radius: 50px;
    text-shadow: 2px 2px 5px rgb(68, 65, 65);
    display: inline-block;  
}



button {

 position: relative;
 left: 30px;
 width: 100px;


}

img{
  position: relative;
  left: 30px;
  height: 100px;
  width: 100px;

}

/*position: relative;
left: 39vw;


