h1{
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
  color: rgb(250, 250, 250);
text-shadow: 2px 2px 5px rgb(68, 65, 65);
text-indent: -1px;
}


body{
background-image: url(../image/add1.png);


}



.warning {
  background-color: rgba(0, 0, 0, 0.699);
 
  width: 500px;
     border: 15px solid rgb(28, 147, 194);
     padding: 50px;

border-style: solid;
  font-size: 20px;
  font-weight: 60;
  display: inline-block;
  border-style: solid;
  border-radius: 50px;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 5px rgb(255, 253, 253);
  text-indent: 9px;
  display: inline-block;  
}



button {

 position: relative;
 left: 30px;
 width: 100px;


}

.btn {

  position: relative;
  left: 130px;
  width: 100px;
 
 
 }


 .add2 {

  position: relative;
  left: 1px;
  
 
 
 }

.a{
  position: relative;
  left: 20px;
}