
body{
    background-image: url(../image/shr.png);

    
    }

    body{
        background-image: url(../image/backger.png);
        
        }
        
    
        
      
        body {
            font-family: Arial, Helvetica, sans-serif;
            margin: 0;
          }
          
          html {
            box-sizing: border-box;
          }
          
          *, *:before, *:after {
            box-sizing: inherit;
          }
          
          .column {
            float: left;
            width: 33.3%;
            margin-bottom: 16px;
            padding: 0 8px;
          }
         
       
          
          .card {
            box-shadow: 0 4px 8px 0 rgba(77, 75, 75, 0.2);
            margin: 100px;
            background-color: #04a57c;
        color: rgb(0, 0, 0);
        text-indent: 170px;
    
      }
          
          .about-section {
            padding: 50px;
            text-align: center;
            background-color: #474e5d;
            color: rgb(255, 255, 255);
          }
          
          .container {
            padding: 0 16px;
          }
          
          .container::after, .row::after {
            content: "";
            clear: both;
            display: table;
          }
          
          
          
          .button {
              width: 100px;
              position: relative;
              left: 3px;
              display: inline-block;
              padding: 4px 4px;
              font-size: 20px;
             
              text-align: center;
              text-decoration: none;
              outline: none;
              color: #fff;
              background-color: #494646;
              border: none;
              border-radius: 10px;
              box-shadow: 0 9px rgb(97, 97, 97);
            }
            
            .button:hover {background-color: #1a1a1a}
            
            
          
          @media screen and (max-width: 650px) {
            .column {
              width: 100%;
              display: block;
            }
          }
         