
   
 
   
 


h1{
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
  color: rgb(42, 42, 42);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
text-indent: -1px;
}


body{
background-image: url(../image/backger.png);


}



.warning {
  background-color: rgba(184, 174, 174, 0.699);
 
  width: 350px;
     border: 15px solid rgb(122, 110, 95);
     padding: 50px;

border-style: solid;
  font-size: 24px;
  font-weight: 60;
  display: inline-block;
  border-style: solid;
 color: rgb(66, 46, 7);
  border-radius: 50px;

  text-shadow: 2px 2px 5px rgb(0, 0, 0);
    display: inline-block;  

  }



.button {
  width: 100px;
  position: relative;
  left: 50px;
  display: inline-block;
  padding: 6px 6px;
  font-size: 20px;
 
  text-align: center;
  text-decoration: none;
  outline: none;
  color: rgb(255, 255, 255);
  background-color: #fbb40e;
  border: none;
  border-radius: 10px;
  box-shadow: 0 9px rgb(151, 88, 4);
  text-indent: 10px;
}

.button:hover {background-color: #3b2c01}


.img{
  position: relative;
  left: 54px;
  height: 100px;
  width: 100px;

}




.fey{

  position: relative;
  left: 2px;
  height: 20px;
  width: 20px;


}



[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

