body{
    background-image: url(../image/shr.png);

    
    }

   
    h1{
      text-align: center;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      
      color: rgb(42, 42, 42);
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-indent: -1px;
    }
    



    .warning {
        background-color: rgba(124, 49, 20, 0.699);
       
        width: 400px;
           border: 15px solid rgb(255, 230, 0);
           padding: 50px;
      
      border-style: solid;
        font-size: 20px;
        font-weight: 60;
        display: inline-block;
        border-style: solid;
        border-radius: 50px;
        color: yellow; 
        text-shadow: 2px 2px 5px rgb(237, 241, 10);
          display: inline-block;  
      }
      
      
      
      .button {
        width: 100px;
        position: relative;
        left: 80px;
        display: inline-block;
        padding: 6px 6px;
        font-size: 20px;
       
        text-align: center;
        text-decoration: none;
        outline: none;
        color: rgb(116, 0, 0);
        background-color: #fbff02;
        border: none;
        border-radius: 10px;
        box-shadow: 0 9px rgba(255, 211, 14, 0.931);
      }
      
      .button:hover {background-color: rgba(173, 162, 1, 0.699);}
      
      
    
      
      .img{
        position: relative;
        left: 80px;
        height: 100px;
        width: 100px;
      
      }

      .shr{

        position: relative;
        left: 2px;
        height: 20px;
        width: 20px;
      

      }