#B1 {
        color: rgb(226, 226, 226);
        background-color: #333;
        width: 400px;
        padding-top: 100px ;
        padding-bottom: 100px;
        padding-left: 10px ;
        padding-right: 10px;
        border-color: #333;
        text-align: center;
        margin-top: 200px;
        margin-right: auto;
        margin-bottom: auto;
        margin-left: 800px;

}

body {
    
    background-image:  url(استراحة5.jpg);
    height: 100%;

background-position:top;
background-repeat: no-repeat;
background-size:100%;
}
 a{
     color: lightblue;
 }